.footer {
  padding: 1.5rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: auto; 
  box-shadow: none;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  z-index: 1000; 
}

.footer p {
  margin: 0;
  font-weight: normal;
}
