.home {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

.home-header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #0077b6;
  text-align: center;
}

.centered-title {
  text-align: center;
  margin-bottom: 2rem;
}

.home-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem; 
}

.home-links a {
  display: inline-block;
  margin: 0.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.link-logo {
  width: 50px; /* Adjust the size of the logos */
  height: 50px;
  transition: transform 0.3s ease;
}

.home-links a:hover .link-logo {
  transform: scale(1.1);
}

.work-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #222;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.company-logo {
  width: 100px;
  height: auto;
  margin-right: 3rem;
}

.work-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-name {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.job-title {
  font-size: 1.1rem;
  color: #b0b0b0;
}

.tech-heading {
  margin-top: 0.75rem;
  margin-bottom: 0rem;
  text-align: center;
}

.tech-carousel-container {
  width: 100%;
  max-width: 900px;
  height: 250px; 
  background-color: #222;
  padding: 2rem; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Existing chess theme styling */
.chess-theme {
  --background-color: #E9BE77;
  --text-color: #d24343; 
  --highlight-color: #A87B51;
}

/* Tech Carousel Styling for Chess Theme */
.chess-theme .tech-carousel-box {
  background-color: #333; 
  color: #ffffff; 
}

/* Ensure tech names are visible in chess theme */
.chess-theme .tech-item span {
  color: #ffffff !important;
}

/* Additional Styling for TechCarousel */
.tech-item {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.tech-item svg {
  width: 50px; 
  height: 50px;
  margin-right: 0.5rem;
}

.tech-item span {
  font-size: 1rem;
  color: var(--text-color);
}

/* Futuristic Game Theme Styling */
.futuristic-theme {
  --background-color: #000; 
  --text-color: #00FF00; 
}

/* Remove background and borders in the Futuristic Game Theme */
.futuristic-theme .work-item,
.futuristic-theme .tech-carousel-container {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

/* Dark Mode Styling */
.dark-mode {
  --background-color: #000; 
  --text-color: #ffffff; 
}

/* Remove background and borders in the Futuristic Game Theme */
.dark-mode .tech-carousel-container {
  background-color: #222;
  box-shadow: none;
  border: none;
}